/* flex */

.flex {
	display: flex;
}

.fd-column {
	flex-direction: column;
}

.f-wrap {
	flex-wrap: wrap;
}

.jc-center {
	justify-content: center;
}
.jc-between {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}
.ai-baseline {
	align-items: baseline;
}


@include break-md {
	.flex-md {
		display: flex;
	}
	
	.fd-md-column {
		flex-direction: column;
	}
}

@include break-sm {
	.fd-sm-column {
		flex-direction: column;
	}
}