/* padding */
.px-gutter {
	@include gutter-outside;
}
@include break-md {
	.px-md-gutter {
		@include gutter-outside;
	}
}


// padding top
$pt-list: (
	12: 12 * $space,
);
@include genClass_PaddingTop($pt-list);

@include break-md {
	@include genClass_PaddingTop($pt-list, $pad);
}
@include break-sm {
	@include genClass_PaddingTop($pt-list, $phone);
}


// padding bottom
$pb-list: (
	8: 8 * $space,
	10: 10 * $space,
);
@include genClass_PaddingBottom($pb-list);

@include break-md {
	@include genClass_PaddingBottom($pb-list, $pad);
}
@include break-sm {
	@include genClass_PaddingBottom($pb-list, $phone);
}


// padding x
$px-list: (
	0: 0,
);
@include genClass_PaddingX($px-list);

@include break-md {
	@include genClass_PaddingX($px-list, $pad);
}
@include break-sm {
	@include genClass_PaddingX($px-list, $phone);
}


// padding y
$py-list: (
	3: 3 * $space,
	4: 4 * $space,
	6: 6 * $space,
);
@include genClass_PaddingY($py-list);

@include break-md {
	@include genClass_PaddingY($py-list, $pad);
}
@include break-sm {
	@include genClass_PaddingY($py-list, $phone);
}




/* margin */
.mx-gutter-reverse {
	@include gutter-outside-reverse;
}


// margin right
$mr-list: (
	5: 5 * $space,
	7: 7 * $space,
	10px: 10px,
);
@include genClass_MarginRight($mr-list);

@include break-md {
	@include genClass_MarginRight($mr-list, $pad);
}
@include break-sm {
	@include genClass_MarginRight($mr-list, $phone);
}


// margin bottom
$mb-list: (
	2: 2 * $space,
	4: 4 * $space,
	6: 6 * $space,
	8: 8 * $space,
	10: 10 * $space,
	16: 16 * $space,
	20: 20 * $space,
);
@include genClass_MarginBottom($mb-list);

@include break-md {
	@include genClass_MarginBottom($mb-list, $pad);
}
@include break-sm {
	@include genClass_MarginBottom($mb-list, $phone);
}


// margin x
$mx-list: (
	0: 0,
);
@include genClass_MarginX($mx-list);

@include break-md {
	@include genClass_MarginX($mx-list, $pad);
}
@include break-sm {
	@include genClass_MarginX($mx-list, $phone);
}



/* gap */

// column-gap
$gap-col-list: (
	0: 0,
	2: 2 * $space,
	4: 4 * $space,
	8: 8 * $space,
	12: 12 * $space,
	16: 16 * $space,
);
@include genClass_ColumnGap($gap-col-list);

@include break-md {
	@include genClass_ColumnGap($gap-col-list, $pad);
}
@include break-sm {
	@include genClass_ColumnGap($gap-col-list, $phone);
}
