/* padding */
.px-gutter {
	@include gutter-outside;
}


// padding top
$pt-list: 12;

@include genClass_PaddingTop($pt-list);


// padding bottom
$pb-list: 8;
@include genClass_PaddingBottom($pb-list);

$pb-md-list: 10;
@include break-md {
	@include genClass_PaddingBottom($pb-md-list, $pad);
}


// padding y
$py-list: 3, 4;
@include genClass_PaddingY($py-list);

$py-sm-list: 6;
@include break-sm {
	@include genClass_PaddingY($py-sm-list, $phone);
}




/* margin */
.mx-gutter-reverse {
	@include gutter-outside-reverse;
}


// margin top
$mt-list: 6, 24;
@include genClass_MarginTop($mt-list);

$mt-md-list: 2, 20;
@include break-md {
	@include genClass_MarginTop($mt-md-list, $pad);
}

$mt-sm-list: 4, 10;
@include break-sm {
	@include genClass_MarginTop($mt-sm-list, $phone);
}


// margin right
$mr-list: 5;
@include genClass_MarginRight($mr-list);

$mr-fixed-sm-list: 10px;
@include break-sm {
	@include genClass_MarginRight_Fixed($mr-fixed-sm-list, $phone);
}


// margin bottom
$mb-list: 2, 6, 8, 20;
@include genClass_MarginBottom($mb-list);

$mb-sm-list: 2, 4, 6, 16;
@include break-sm {
	@include genClass_MarginBottom($mb-sm-list, $phone);
}




/* gap */

// column-gap
$gap-col-list: 8, 12, 16;
@include genClass_ColumnGap($gap-col-list);

$gap-col-md-list: 4;
@include break-md {
	@include genClass_ColumnGap($gap-col-md-list, $pad);
}

$gap-col-sm-list: 0, 2;
@include break-sm {
	@include genClass_ColumnGap($gap-col-sm-list, $phone);
}
