/* utility style */

.font-en {
	font-family: $font-en;
}

.text-bold {
	font-weight: bold;
}


.link-style {
	&:hover {
		text-decoration: underline;
	}
	
	img:hover {
		opacity: 0.5;
	}
}


.menu {
	display: flex;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&:hover {
			text-decoration: underline;
		}
	}
}


.border-title {
	padding-left: 16px;
	margin-top: 96px;
	margin-bottom: 32px;
	font-size: 48px;
	font-weight: bold;
	border-left: 8px solid $color-important;

	@include break-md {
		margin-top: 80px;
	}

	@include break-sm {
		margin-top: 40px;
		margin-bottom: 24px;
		font-size: 24px;
	}
}

