// debug outline
$isDebug: false;


// grid
$column-count: 12;
$column-width: 86px;
$gutter-width: 24px;

$column-width-md: 36px;

$column-count-sm: 4;
$column-width-sm: 69px;


// space base
$space: 4px;


// color
$color-primary: #AA0601;
$color-secondary: #650300;
$color-white: #FFF;
$color-black: #000;
$color-catch: #FBF2F2;
$color-info: #555555;
$color-info2: #707070;
$color-info3: #495057;
$color-important: #9F1213;
$color-pick1: #5F3E2D;
$color-pick2: #B75929;
$color-muted: #00000029;
$color-muted2: #00000020;
$color-muted3: #DEE2E6;
$color-muted4: #F2F2F2;
$color-muted5: #DCDCDC;
$color-muted6: #CED4DA;
$color-dark: #212529;
$color-dark2: #0A0A0A;


// variable definition
$pad: "md";
$phone: "sm";
$margin: "m";
$padding: "p";
$top: "t";
$right: "r";
$bottom: "b";
$left: "l";
$horizontal: "x";
$vertical: "y";
