@function hasPoint($point) {
	@if ($point == null or $point == "") {
		@return false;
	}
	@else {
		@return true;
	}
}

@function getClassName_Point($point) {
	$result: "";

	@if (hasPoint($point)) {
		$result: "-" + $point;
	}

	@return $result;
}


// Generate .fz class for font-sizing.
@mixin genClass_FontSize($sizeList, $point: null) {
	$pointName: getClassName_Point($point);
	@each $size in $sizeList {
		.fz#{$pointName}-#{$size} {
			font-size: #{$size}px;
		}
	}
}


// Generate .col class for sizing.
@mixin genClass_ColWidth($colCnt, $point: null) {
	$pointName: getClassName_Point($point);
	@for $i from 1 through $colCnt {
		.col#{$pointName}-#{$i} {
			width: percentage( math.div($i, $colCnt) );
		}
	}
}


// Generate column-gap or row-gap class for spacing.
@mixin genClass_Gap($sizeList, $className, $isCol: true) {

	@each $key, $value in $sizeList {
		.#{$className}-#{$key} {
			@if ($isCol) {
				column-gap: $value;
			}
			@else {
				row-gap: $value;
			}
		}
	}
}

// Generate .gap-col class for spacing.
@mixin genClass_ColumnGap($sizeList, $point: null) {
	$className: "gap-col" + getClassName_Point($point);
	@include genClass_Gap($sizeList, $className);
}


// Generate margin, padding spacing class.
@mixin genClass_Spacing($sizeList, $spacingType, $direction, $point) {

	@each $key, $value in $sizeList {
		$className: $spacingType + $direction + getClassName_Point($point);
		$css: "";

		@if ($spacingType == $margin) {
			$css: "margin";
		}
		@else if ($spacingType == $padding) {
			$css: "padding";
		}
		@else {
			@error "spacingType：#{$spacingType} 不正確！";
		}

		.#{$className}-#{$key} {
			@if ($direction == $top) {
				#{$css}-top: $value;
			}
			@else if ($direction == $right) {
				#{$css}-right: $value;
			}
			@else if ($direction == $bottom) {
				#{$css}-bottom: $value;
			}
			@else if ($direction == $left) {
				#{$css}-left: $value;
			}
			@else if ($direction == $horizontal) {
				#{$css}-left: $value;
				#{$css}-right: $value;
			}
			@else if ($direction == $vertical) {
				#{$css}-top: $value;
				#{$css}-bottom: $value;
			}
			@else {
				@error "direction：#{$direction} 不正確！";
			}
		}
	}
}

@mixin genClass_MarginTop($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $top, $point);
}
@mixin genClass_MarginRight($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $right, $point);
}
@mixin genClass_MarginBottom($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $bottom, $point);
}
@mixin genClass_MarginLeft($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $left, $point);
}
@mixin genClass_MarginX($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $horizontal, $point);
}
@mixin genClass_MarginY($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $margin, $vertical, $point);
}

@mixin genClass_PaddingTop($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $top, $point);
}
@mixin genClass_PaddingRight($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $right, $point);
}
@mixin genClass_PaddingBottom($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $bottom, $point);
}
@mixin genClass_PaddingLeft($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $left, $point);
}
@mixin genClass_PaddingX($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $horizontal, $point);
}
@mixin genClass_PaddingY($sizeList, $point: null) {
	@include genClass_Spacing($sizeList, $padding, $vertical, $point);
}
